<section class="section-content pv12 bg-cover" data-bg-image="@Url.Content("~/Content/images/coming-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-title mt5 mb5">
                <h2 class="blog-title">О нас</h2>
                <ol class="breadcrumb">
                    <li><a href="/" class="active">Главная</a></li>
                    <li><a href="~/Home/Contact">Новости</a></li>
                </ol>
            </div>
        </div>
        </div>
    </section>
<div class="section-content pvb0">
    <div class="container  pv8">
        <div class="row">
            <p>
                Продумывая концепцию кинотеатра, владельцы кинотеатра ориентировались на то, чтобы сделать его максимально комфортным для зрителей.
                В кинотеатре "Восемь с половиной" работают 8 залов, оснащенных новейшим звуковым и цифровым проекционным оборудованием.
                На входе в пространство залов кинотеатра "Восемь с половиной" расположена небольшая лаунж-зона "½", где можно приятно провести свое время с друзьями.
            </p>
            <p>
                На сегодняшний момент, «8 ½» - это один из самых больших кинотеатров.
                Такое количество залов задумано не просто так – это позволяет нам максимально расширить репертуар, что бы вы смогли выбирать фильмы на любой вкус!
            </p>
            <p>
                Вы сможете увидеть премьеры, которые не идут в прокате других кинотеатров.
            </p>
            <h5 class="widget-title">Информация об адресе</h5>
            <p>
                Ростов-на-Дону,
                пр-кт Михаила Нагибина, 32/2
            </p>
            <p>
                <i class="fa fa-mail"></i>Контакты<br>
                <i class="fa fa-phone"></i> 8 (800) 555-04-15
            </p>
        </div>
    </div>
    
